<!--admin-->
<li class="dropdown" data-admin-menu><!--needs to be in lower case-->
    <a href="=" #">
        Admin
        <!--the Star is the icon next to the admin option in the nav bar-->
        <span class="glyphicon glyphicon-star" ></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/MembershipType">&nbsp;&nbsp; Membersip</a></li><!--&nbsp; space-->
        <li><a href="/TypeOfToys">&nbsp;&nbsp; Type Of Toy</a></li>
        <li class="divider"></li>
        <li><a href="/Toys">&nbsp;&nbsp;Toy</a></li>
        <li><a href="/UserViewModels">&nbsp;&nbsp; Customer</a></li>
        <li class="divider"></li>

        </ul>
</li>