@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<body style="background-image:url(Content/Images/8.jpg)">
    <section>
        <p>
            <aside>
                At its core, Green Toys has always been an eco-friendly toy company.
                In fact, we say that to us, “every day is Earth Day”
                Our commitment to sustainability and playfulness is part of our
                DNA and we hope to inspire others to share in this passion.<br /><br />
                From our 100% recycled materials to our toys renting plans,
                we’re raising awareness about sustainability while delivering unquestionably safe products.
                We believe that the best way to encourage environmental change is through goods people buy
                and use every day—and in our case that’s children’s products.<br /><br />
                We care about your kids – how they play, what they play with, and what the future holds.
                We are constantly exploring and innovating to deliver the best products possible for a playful planet for all.<br /><br />
            </aside>
        </p>
    </section>
    <p>
        <h3>Our team:</h3>
        <a href="https://github.com/adiparnes">Adi Parnes</a><br />
        <a href="https://github.com/omri55">Omri Feldman</a><br />
        <a href="https://github.com/Advassraf">Adva Assraf</a><br />
        <a href="https://github.com/avivgalon">Aviv Galon</a><br />
        <a href="https://github.com/Tommergro">Tommer Grodecki</a><br />
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2PiAu3PWFys?start=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>