@model IEnumerable<GreenToys.ViewModel.ThumbnailBoxViewModel>
@using GreenToys.Utility
@using GreenToys.Models
@using GreenToys.ViewModel
@{
    ViewBag.Title = "Home Page";
    ApplicationDbContext db = new ApplicationDbContext();
}
@* FormMethod.Get: pushing the values to go to the get method in the home controller and not to the post*@
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{

    @*@if (User.IsInRole(StatisDetails.EndUserRole))
    {
        var tmp = db.ToyRents.ToList().Max(t => t.ToyID);
        
    }
    <h4>your fav toy is</h4>*@

    <div class="row">
        <br />
        <div class="pull-right" style="padding-right:15px;">
            <button type="submit" value="Search" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-search"></span>&nbsp;Search
            </button>
        </div>

        <div class="pull-right">
            @Html.Editor("search", new { htmlAttributes = new { @class = "form-control input-sm" } })
        </div>
    </div>
    <br />
}

<div class="row">
    @foreach (var box in Model)
    {

        @Html.Partial("_ThumbnailBoxPartial", box);
    }
</div>

